<div class="card-group">
  <div class="card">
    <img src="https://citynews-trevisotoday.stgy.ovh/~media/square-mid/58534205771612/calling-by-walkie-talkie-2021-08-28-20-05-34-utc-2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">guidatore scavatore</h5>
      <p class="card-text">autista scavatore con la radio</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="https://kratossafety.com/2567-large_default/sensibilizzazione-ai-lavori-in-altezza.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">muratore</h5>
      <p class="card-text">saper usare la malta</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="https://www.qesco.it/wp-content/uploads/2020/09/qesco-impianti-fotovoltaici-energia-pannelli-solari-solaio-800x800.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">pannelli fotovoltaici</h5>
      <p class="card-text">installatorre pannelli fotovoltaici</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>