<div class="container">
  <h1>Modifica offerta di lavoro</h1>

  <%= render "form", offer: @offer %>

  <br>

  <div>
    <%= link_to "Visualizza offerta", @offer %> |
    <%= link_to "indietro", offers_path %>
  </div>
</div>