<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Offerte di lavoro</h1>

  <div id="offers" class="row">
    <% @offers.each do |offer| %>
    <div class="col-4">
        <%= render offer %>
        <p>
          <%= link_to "Dettagli", offer,class:'btn btn-primary w-100' %>
        </p>
    </div>
    <% end %>
  </div>

  <%= link_to "nuova offerta", new_offer_path, class:'btn btn-warning w-100'%>
</div>